{\"Version\":\"2012-10-17\",\"Id\":\"SQSQueuePermissions\",\"Statement\":[{\"Sid\":\"SQSQueuePermissions\",\"Effect\":\"Allow\",\"Principal\":{\"Service\":\"s3.amazonaws.com\"},\"Action\":\"sqs:SendMessage\",\"Resource\":\"arn:${aws_prefix}:sqs:${src_aws_region}:${src_account_id}:${sqs_name}\",\"Condition\":{\"ArnLike\":{\"aws:SourceArn\":\"arn:${aws_prefix}:s3:::${src_bucket}\"},\"StringEquals\":{\"aws:SourceAccount\":\"${src_account_id}\"}}}]}